/**
 * Solarized Light theme for reveal.js.
 * Author: Achim Staebler
 */
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'BLOKK';
  src: url("../../lib/font/blokk/BLOKKNeue-Regular.eot");
  src: url("../../lib/font/blokk/BLOKKNeue-Regular.eot?#iefix") format("embedded-opentype"), url("../../lib/font/blokk/BLOKKNeue-Regular.woff") format("woff"), url("../../lib/font/blokk/BLOKKNeue-Regular.svg#BLOKKNeue-Regular") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 * Solarized colors by Ethan Schoonover
 */
html * {
  color-profile: sRGB;
  rendering-intent: auto; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #e6e6e6;
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f8f8f8), color-stop(100%, #e6e6e6));
  background: -webkit-radial-gradient(center, circle cover, #f8f8f8 0%, #e6e6e6 100%);
  background: radial-gradient(center, circle cover, #f8f8f8 0%, #e6e6e6 100%);
  background-color: #f8f8f8; }

.reveal {
  font-family: "Lato", sans-serif;
  font-size: 36px;
  font-weight: normal;
  letter-spacing: -0.02em;
  color: #2d3942; }

::-moz-selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

::selection {
  color: white;
  background: #d33682;
  text-shadow: none; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 20px 0;
  color: #0a4664;
  font-family: "League Gothic", Impact, sans-serif;
  line-height: 0.9em;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: none;
  -webkit-transition: color .15s ease;
  transition: color .15s ease; }

.reveal h1 {
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }

/*********************************************
 * LINKS
 *********************************************/
.reveal a:not(.image) {
  color: #f98700;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:not(.image):hover {
  color: #ffb660;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #ac5e00; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  -webkit-transition: all .2s linear;
  transition: all .2s linear; }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls div.navigate-left,
.reveal .controls div.navigate-left.enabled {
  border-right-color: #f98700; }

.reveal .controls div.navigate-right,
.reveal .controls div.navigate-right.enabled {
  border-left-color: #f98700; }

.reveal .controls div.navigate-up,
.reveal .controls div.navigate-up.enabled {
  border-bottom-color: #f98700; }

.reveal .controls div.navigate-down,
.reveal .controls div.navigate-down.enabled {
  border-top-color: #f98700; }

.reveal .controls div.navigate-left.enabled:hover {
  border-right-color: #ffb660; }

.reveal .controls div.navigate-right.enabled:hover {
  border-left-color: #ffb660; }

.reveal .controls div.navigate-up.enabled:hover {
  border-bottom-color: #ffb660; }

.reveal .controls div.navigate-down.enabled:hover {
  border-top-color: #ffb660; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #f98700;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #f98700; }

.state--blue {
  /*********************************************
   * GLOBAL STYLES
   *********************************************/
  /*********************************************
   * HEADERS
   *********************************************/
  /*********************************************
   * LINKS
   *********************************************/
  /*********************************************
   * IMAGES
   *********************************************/
  /*********************************************
   * NAVIGATION CONTROLS
   *********************************************/
  /*********************************************
   * PROGRESS BAR
   *********************************************/
  /*********************************************
   * SLIDE NUMBER
   *********************************************/ }
  .state--blue body {
    background: #2d3942;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #566d7f), color-stop(100%, #2d3942));
    background: -webkit-radial-gradient(center, circle cover, #566d7f 0%, #2d3942 100%);
    background: radial-gradient(center, circle cover, #566d7f 0%, #2d3942 100%);
    background-color: #2d3942; }
  .state--blue .reveal {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.02em;
    color: #f8f8f8; }
  .state--blue ::-moz-selection {
    color: white;
    background: #d33682;
    text-shadow: none; }
  .state--blue ::selection {
    color: white;
    background: #d33682;
    text-shadow: none; }
  .state--blue .reveal h1,
  .state--blue .reveal h2,
  .state--blue .reveal h3,
  .state--blue .reveal h4,
  .state--blue .reveal h5,
  .state--blue .reveal h6 {
    margin: 0 0 20px 0;
    color: #f8f8f8;
    font-family: "League Gothic", Impact, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-transition: color .15s ease;
    transition: color .15s ease; }
  .state--blue .reveal h1 {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }
  .state--blue .reveal a:not(.image) {
    color: #fcc318;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    transition: color .15s ease; }
  .state--blue .reveal a:not(.image):hover {
    color: #fddd7d;
    text-shadow: none;
    border: none; }
  .state--blue .reveal .roll span:after {
    color: #fff;
    background: #c59403; }
  .state--blue .reveal section img {
    margin: 15px 0px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
  .state--blue .reveal .controls div.navigate-left,
  .state--blue .reveal .controls div.navigate-left.enabled {
    border-right-color: #fcc318; }
  .state--blue .reveal .controls div.navigate-right,
  .state--blue .reveal .controls div.navigate-right.enabled {
    border-left-color: #fcc318; }
  .state--blue .reveal .controls div.navigate-up,
  .state--blue .reveal .controls div.navigate-up.enabled {
    border-bottom-color: #fcc318; }
  .state--blue .reveal .controls div.navigate-down,
  .state--blue .reveal .controls div.navigate-down.enabled {
    border-top-color: #fcc318; }
  .state--blue .reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #fddd7d; }
  .state--blue .reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #fddd7d; }
  .state--blue .reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #fddd7d; }
  .state--blue .reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #fddd7d; }
  .state--blue .reveal .progress {
    background: rgba(0, 0, 0, 0.2); }
  .state--blue .reveal .progress span {
    background: #fcc318;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
  .state--blue .reveal .slide-number {
    color: #fcc318; }

.state--dark {
  /*********************************************
   * GLOBAL STYLES
   *********************************************/
  /*********************************************
   * HEADERS
   *********************************************/
  /*********************************************
   * LINKS
   *********************************************/
  /*********************************************
   * IMAGES
   *********************************************/
  /*********************************************
   * NAVIGATION CONTROLS
   *********************************************/
  /*********************************************
   * PROGRESS BAR
   *********************************************/
  /*********************************************
   * SLIDE NUMBER
   *********************************************/ }
  .state--dark body {
    background: #2d3942;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #425360), color-stop(100%, #2d3942));
    background: -webkit-radial-gradient(center, circle cover, #425360 0%, #2d3942 100%);
    background: radial-gradient(center, circle cover, #425360 0%, #2d3942 100%);
    background-color: #2d3942; }
  .state--dark .reveal {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.02em;
    color: #f8f8f8; }
  .state--dark ::-moz-selection {
    color: white;
    background: #d33682;
    text-shadow: none; }
  .state--dark ::selection {
    color: white;
    background: #d33682;
    text-shadow: none; }
  .state--dark .reveal h1,
  .state--dark .reveal h2,
  .state--dark .reveal h3,
  .state--dark .reveal h4,
  .state--dark .reveal h5,
  .state--dark .reveal h6 {
    margin: 0 0 20px 0;
    color: #f8f8f8;
    font-family: "League Gothic", Impact, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-transition: color .15s ease;
    transition: color .15s ease; }
  .state--dark .reveal h1 {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }
  .state--dark .reveal a:not(.image) {
    color: #fcc318;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    transition: color .15s ease; }
  .state--dark .reveal a:not(.image):hover {
    color: #fddd7d;
    text-shadow: none;
    border: none; }
  .state--dark .reveal .roll span:after {
    color: #fff;
    background: #c59403; }
  .state--dark .reveal section img {
    margin: 15px 0px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
  .state--dark .reveal .controls div.navigate-left,
  .state--dark .reveal .controls div.navigate-left.enabled {
    border-right-color: #fcc318; }
  .state--dark .reveal .controls div.navigate-right,
  .state--dark .reveal .controls div.navigate-right.enabled {
    border-left-color: #fcc318; }
  .state--dark .reveal .controls div.navigate-up,
  .state--dark .reveal .controls div.navigate-up.enabled {
    border-bottom-color: #fcc318; }
  .state--dark .reveal .controls div.navigate-down,
  .state--dark .reveal .controls div.navigate-down.enabled {
    border-top-color: #fcc318; }
  .state--dark .reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #fddd7d; }
  .state--dark .reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #fddd7d; }
  .state--dark .reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #fddd7d; }
  .state--dark .reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #fddd7d; }
  .state--dark .reveal .progress {
    background: rgba(0, 0, 0, 0.2); }
  .state--dark .reveal .progress span {
    background: #fcc318;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
  .state--dark .reveal .slide-number {
    color: #fcc318; }

.state--overlay .slide-background {
  background-color: #598ba5;
  background-blend-mode: multiply; }

.state--luminosity {
  /*********************************************
   * GLOBAL STYLES
   *********************************************/
  /*********************************************
   * HEADERS
   *********************************************/
  /*********************************************
   * LINKS
   *********************************************/
  /*********************************************
   * IMAGES
   *********************************************/
  /*********************************************
   * NAVIGATION CONTROLS
   *********************************************/
  /*********************************************
   * PROGRESS BAR
   *********************************************/
  /*********************************************
   * SLIDE NUMBER
   *********************************************/ }
  .state--luminosity body {
    background: #e6e6e6;
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #2d3942), color-stop(100%, #e6e6e6));
    background: -webkit-radial-gradient(center, circle cover, #2d3942 0%, #e6e6e6 100%);
    background: radial-gradient(center, circle cover, #2d3942 0%, #e6e6e6 100%);
    background-color: #2d3942; }
  .state--luminosity .reveal {
    font-family: "Lato", sans-serif;
    font-size: 36px;
    font-weight: normal;
    letter-spacing: -0.02em;
    color: #f8f8f8; }
  .state--luminosity ::-moz-selection {
    color: white;
    background: #d33682;
    text-shadow: none; }
  .state--luminosity ::selection {
    color: white;
    background: #d33682;
    text-shadow: none; }
  .state--luminosity .reveal h1,
  .state--luminosity .reveal h2,
  .state--luminosity .reveal h3,
  .state--luminosity .reveal h4,
  .state--luminosity .reveal h5,
  .state--luminosity .reveal h6 {
    margin: 0 0 20px 0;
    color: #f8f8f8;
    font-family: "League Gothic", Impact, sans-serif;
    line-height: 0.9em;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    text-shadow: none;
    -webkit-transition: color .15s ease;
    transition: color .15s ease; }
  .state--luminosity .reveal h1 {
    text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.2); }
  .state--luminosity .reveal a:not(.image) {
    color: #fcc318;
    text-decoration: none;
    -webkit-transition: color .15s ease;
    transition: color .15s ease; }
  .state--luminosity .reveal a:not(.image):hover {
    color: #fddd7d;
    text-shadow: none;
    border: none; }
  .state--luminosity .reveal .roll span:after {
    color: #fff;
    background: #c59403; }
  .state--luminosity .reveal section img {
    margin: 15px 0px;
    -webkit-transition: all .2s linear;
    transition: all .2s linear; }
  .state--luminosity .reveal .controls div.navigate-left,
  .state--luminosity .reveal .controls div.navigate-left.enabled {
    border-right-color: #fcc318; }
  .state--luminosity .reveal .controls div.navigate-right,
  .state--luminosity .reveal .controls div.navigate-right.enabled {
    border-left-color: #fcc318; }
  .state--luminosity .reveal .controls div.navigate-up,
  .state--luminosity .reveal .controls div.navigate-up.enabled {
    border-bottom-color: #fcc318; }
  .state--luminosity .reveal .controls div.navigate-down,
  .state--luminosity .reveal .controls div.navigate-down.enabled {
    border-top-color: #fcc318; }
  .state--luminosity .reveal .controls div.navigate-left.enabled:hover {
    border-right-color: #fddd7d; }
  .state--luminosity .reveal .controls div.navigate-right.enabled:hover {
    border-left-color: #fddd7d; }
  .state--luminosity .reveal .controls div.navigate-up.enabled:hover {
    border-bottom-color: #fddd7d; }
  .state--luminosity .reveal .controls div.navigate-down.enabled:hover {
    border-top-color: #fddd7d; }
  .state--luminosity .reveal .progress {
    background: rgba(0, 0, 0, 0.2); }
  .state--luminosity .reveal .progress span {
    background: #fcc318;
    -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
    transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }
  .state--luminosity .reveal .slide-number {
    color: #fcc318; }
  .state--luminosity .slide-background {
    background-color: #598ba5;
    background-blend-mode: luminosity; }

.reveal .slide-canvas {
  height: 95%; }
  .reveal .slide-canvas h2 {
    font-size: 96px; }
  .reveal .slide-canvas .align-bottom {
    position: absolute;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0; }

.reveal section p {
  font-weight: 300; }
.reveal section .credit {
  position: absolute;
  font-size: .5em;
  bottom: 0;
  left: 0; }
  .reveal section .credit > a {
    color: rgba(248, 248, 248, 0.06); }
.reveal section code {
  font-family: "Andale Mono", monospace; }
.reveal section .biggie {
  font-size: 60px; }
.reveal section .link--twitter {
  margin-left: 2em; }
  .reveal section .link--twitter > i {
    font-size: 24px;
    margin-right: .5em; }
.reveal section pre {
  -webkit-box-shadow: none;
  box-shadow: none; }
.reveal section .screenshot {
  border: 3px solid white;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }
.reveal section .aten-logo {
  width: 400px;
  margin-bottom: 2em; }
.reveal section .profile-header {
  float: left;
  width: 460px;
  padding-top: 200px; }
.reveal section .profile-name {
  font-size: 56px;
  color: white;
  text-shadow: 0 0 10px rgba(34, 34, 34, 0.8); }
.reveal section .profile-date {
  color: white; }
.reveal section .pattern-name {
  text-align: left;
  font-family: "Lato", "League Gothic", sans-serif;
  font-size: 72px;
  line-height: 90px;
  font-weight: 900;
  text-transform: none; }
.reveal section .pattern-description {
  text-align: left;
  font-size: 50px;
  max-width: 16em; }
.reveal section .article-wrapper {
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  max-width: 33em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 1.5em;
  padding-bottom: 1.5em; }
.reveal section .article {
  text-align: left; }
.reveal section .article-paragraph {
  font-size: 18px;
  margin-bottom: 24px;
  line-height: 1.4em;
  font-weight: 400; }
.reveal section .quote,
.reveal section .quote-author {
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #0d6b9c; }
.reveal section .quote-author {
  text-align: right;
  margin-top: 1.2em; }
.reveal section .article-pullquote {
  font-size: 22px;
  line-height: 1.2em;
  font-style: normal;
  margin-left: 0;
  margin-right: 0;
  margin-top: .6em;
  margin-bottom: 24px;
  width: 100%;
  font-weight: 700;
  padding: .8em 0;
  border-top: 3px solid #0d6b9c;
  border-bottom: 3px solid #0d6b9c;
  float: left;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  letter-spacing: .01em; }
.reveal section #gutter-width.visible ~ .article-wrapper .article-pullquote {
  width: 14em;
  margin-right: 1.4em; }
.reveal section #gutter-pulled.visible ~ .article-wrapper .article-pullquote {
  margin-left: -5.2em; }
.reveal section .article-wrapper {
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
.reveal section #constrained--before ~ .article-wrapper {
  max-width: 60em; }
.reveal section #constrained--after.visible ~ .article-wrapper {
  max-width: 33em; }
.reveal section .spaced {
  margin-left: 30px;
  margin-right: 30px; }
.reveal section #float--layout .grid-item {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%; }
.reveal section #float--3up.visible ~ #float--layout > .grid-item {
  width: 33.333%;
  margin-left: 0;
  margin-right: 0; }
.reveal section #float--floated.visible ~ #float--layout > .grid-item {
  float: left; }
.reveal section #float--padded.visible ~ #float--layout > .grid-item {
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 30px 0 0 0 rgba(34, 34, 34, 0.2) inset, -30px 0 0 0 rgba(34, 34, 34, 0.2) inset;
  box-shadow: 30px 0 0 0 rgba(34, 34, 34, 0.2) inset, -30px 0 0 0 rgba(34, 34, 34, 0.2) inset; }
.reveal section #float--2up.visible ~ #float--layout > .grid-item {
  width: 50%; }
.reveal section #isolate--layout .grid-item {
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.333%;
  margin-left: 0;
  margin-right: 0;
  float: left;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-shadow: 30px 0 0 0 rgba(34, 34, 34, 0.2) inset, -30px 0 0 0 rgba(34, 34, 34, 0.2) inset;
  box-shadow: 30px 0 0 0 rgba(34, 34, 34, 0.2) inset, -30px 0 0 0 rgba(34, 34, 34, 0.2) inset; }
.reveal section #isolate--primary.visible ~ #isolate--layout > .l-primary {
  width: 33.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section #isolate--primary.visible ~ #isolate--layout > .l-secondary {
  width: 33.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section #isolate--primary.visible ~ #isolate--layout > .l-tertiary {
  width: 33.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section #isolate--secondary.visible ~ #isolate--layout > .l-primary {
  width: 33.33333%;
  float: left;
  margin-left: 66.66667%;
  margin-right: -100%; }
.reveal section #isolate--secondary.visible ~ #isolate--layout > .l-secondary {
  width: 33.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section #isolate--secondary.visible ~ #isolate--layout > .l-tertiary {
  width: 33.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section #isolate--tertiary.visible ~ #isolate--layout > .l-primary {
  width: 41.66667%;
  float: left;
  margin-left: 58.33333%;
  margin-right: -100%; }
.reveal section #isolate--tertiary.visible ~ #isolate--layout > .l-secondary {
  width: 25%;
  float: left;
  margin-left: 25%;
  margin-right: -100%; }
.reveal section #isolate--tertiary.visible ~ #isolate--layout > .l-tertiary {
  width: 25%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section #isolate--rows.visible ~ #isolate--layout > .l-primary {
  width: 58.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section #isolate--rows.visible ~ #isolate--layout > .l-secondary {
  width: 41.66667%;
  float: right;
  margin-right: 0;
  margin-left: -100%;
  min-height: 17em; }
.reveal section #isolate--rows.visible ~ #isolate--layout > .l-tertiary {
  width: 58.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%;
  clear: left; }
.reveal section .file-list {
  font-size: 1em; }
.reveal section .module-list {
  margin: 1em auto; }
  .reveal section .module-list li {
    display: inline-block;
    margin-left: 1em;
    margin-right: 1em; }
.reveal section .class-name {
  font-size: 1em;
  text-align: center !important; }
.reveal section .book-wrapper {
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  max-width: 48em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: left;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease; }
.reveal section .book--teaser {
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease; }
.reveal section .book-cover {
  text-align: center;
  width: 100%;
  float: left;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin-bottom: 12px; }
.reveal section .book-image {
  -webkit-box-shadow: 0 0 6px rgba(34, 34, 34, 0.4);
  box-shadow: 0 0 6px rgba(34, 34, 34, 0.4);
  margin: 0; }
.reveal section .book-title {
  font-family: "Lato", "League Gothic", sans-serif;
  text-transform: none;
  font-weight: 700;
  margin: 0 0 6px; }
.reveal section .book-authors {
  line-height: 27px;
  margin-bottom: 12px; }
.reveal section #book-padding.visible ~ .book-wrapper .book--teaser {
  padding-left: 180px;
  -webkit-box-shadow: 180px 0 0 0 rgba(13, 107, 156, 0.2) inset;
  box-shadow: 180px 0 0 0 rgba(13, 107, 156, 0.2) inset; }
.reveal section #book-width.visible ~ .book-wrapper .book-cover {
  width: 140px; }
.reveal section #book-pulled.visible ~ .book-wrapper .book--teaser {
  -webkit-box-shadow: 180px 0 0 0 rgba(13, 107, 156, 0) inset;
  box-shadow: 180px 0 0 0 rgba(13, 107, 156, 0) inset; }
.reveal section #book-pulled.visible ~ .book-wrapper .book-cover {
  margin-left: -180px; }
.reveal section #book-fluid.visible ~ .book-wrapper {
  max-width: 32em; }
.reveal section .block-wrapper {
  margin-right: auto;
  margin-left: auto;
  font-size: 18px;
  max-width: 32em;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  text-align: left;
  -webkit-transition: all 1.5s ease;
  transition: all 1.5s ease; }
.reveal section .block-title {
  font-family: "Lato", "League Gothic", sans-serif;
  background-color: #0d6b9c;
  color: white;
  text-transform: none;
  font-size: 36px;
  padding: 18px 24px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  margin-bottom: 0;
  position: relative; }
  .reveal section .block-title:before, .reveal section .block-title:after {
    content: " ";
    display: block;
    border-top: 18px #333 solid;
    position: absolute;
    top: 100%;
    height: 0;
    width: 0; }
  .reveal section .block-title:before {
    left: 0;
    border-left: 24px transparent solid; }
  .reveal section .block-title:after {
    right: 0;
    border-right: 24px transparent solid; }
.reveal section .block-content {
  padding: 24px;
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(rgba(248, 248, 248, 0)));
  background-image: -webkit-linear-gradient(#f8f8f8 24px, rgba(248, 248, 248, 0));
  background-image: linear-gradient(#f8f8f8 24px, rgba(248, 248, 248, 0)); }
.reveal section .block-paragraph {
  font-size: 21px; }
.reveal section #block-overflow.visible ~ .block-wrapper .block-title {
  margin: 0 -24px; }
.reveal section .ratio-wrapper {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  width: 640px;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
.reveal section .video-container {
  border-top: 1px solid #999;
  border-: 1px solid #999;
  background-color: rgba(34, 34, 34, 0.2);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  position: relative; }
  .reveal section .video-container > iframe {
    position: relative;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
    max-width: 100%;
    max-height: 100%;
    -webkit-transition: all 1s ease;
    transition: all 1s ease; }
.reveal section #ratio-incorrect.visible ~ .ratio-wrapper {
  width: 320px; }
.reveal section #ratio-padding.visible ~ .ratio-wrapper .video-container {
  padding-top: 65.25%;
  height: 360px; }
  .reveal section #ratio-padding.visible ~ .ratio-wrapper .video-container > iframe {
    position: absolute;
    left: 0;
    bottom: 0; }
.reveal section #ratio-position.visible ~ .ratio-wrapper .video-container {
  height: 0; }
  .reveal section #ratio-position.visible ~ .ratio-wrapper .video-container > iframe {
    position: absolute;
    height: 100%;
    width: 100%; }
.reveal section #ratio-correct.visible ~ .ratio-wrapper {
  width: 640px; }
.reveal section #ratio-correct-2.visible ~ .ratio-wrapper {
  width: 320px; }
.reveal section .cover {
  max-height: 450px; }
.reveal section .clearfix:before, .reveal section .clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }
.reveal section .clearfix:after {
  clear: both; }
.reveal section .layout-wrapper {
  border-left: 1px solid #999;
  border-right: 1px solid #999;
  text-align: left; }
.reveal section .grid--3-column {
  margin-right: 0;
  margin-left: 0;
  font-size: 18px;
  -webkit-transition: margin 1s ease;
  transition: margin 1s ease; }
  .reveal section .grid--3-column > .grid-item {
    width: 33.333%;
    padding: 3.5em 30px;
    float: left;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-right: 1px solid #999;
    line-height: 24px; }
    .reveal section .grid--3-column > .grid-item:last-child {
      border-right: none; }
    .reveal section .grid--3-column > .grid-item > .greybox-region {
      margin-left: -30px;
      margin-right: -30px;
      -webkit-box-shadow: 30px 0 0 0 rgba(13, 107, 156, 0.2) inset, -30px 0 0 0 rgba(13, 107, 156, 0.2) inset;
      box-shadow: 30px 0 0 0 rgba(13, 107, 156, 0.2) inset, -30px 0 0 0 rgba(13, 107, 156, 0.2) inset;
      padding: 0 30px;
      background-color: rgba(34, 34, 34, 0);
      min-height: 13em;
      border-left: none;
      border-right: none; }
.reveal section #overflow-3-column--full.visible ~ .grid--3-column {
  margin-left: -30px;
  margin-right: -30px; }
.reveal section .work-sample {
  width: 230px;
  vertical-align: top; }
.reveal section .properties-wrapper {
  padding-top: 30px;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  -webkit-column-gap: 60px;
  -moz-column-gap: 60px;
  column-gap: 60px; }
  .reveal section .properties-wrapper .properties > li {
    font-weight: 700;
    margin-bottom: 6px;
    list-style: none; }
.reveal section #complex-layouts {
  width: 300px;
  height: 400px;
  margin: auto;
  opacity: .4; }
  .reveal section #complex-layouts > svg {
    width: 100%; }
.reveal section #layout-node-page {
  width: 300px;
  height: 400px;
  margin: auto;
  opacity: .4; }
  .reveal section #layout-node-page.visible {
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  .reveal section #layout-node-page.current-fragment {
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; }
.reveal section .layout-list {
  position: absolute;
  top: 4em;
  left: 58%; }
  .reveal section .layout-list .fragment {
    list-style: none;
    margin-bottom: 1em; }
    .reveal section .layout-list .fragment.visible {
      opacity: .3 !important; }
    .reveal section .layout-list .fragment.current-fragment {
      opacity: 1 !important; }
.reveal section .layout-title {
  text-align: left;
  margin-left: 50%; }
.reveal section .layout-img {
  position: absolute;
  width: 400px;
  opacity: .4;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto !important;
  max-height: none; }
.reveal section .view-mode--full {
  position: absolute;
  top: 3em;
  right: 0;
  width: 60%; }
.reveal section .view-mode--teaser {
  position: absolute;
  left: 0;
  width: 60%;
  bottom: 10%; }
.reveal section .view-mode--listing {
  position: absolute;
  width: 25%;
  top: 20%;
  left: 5%; }
.reveal section .acronym > strong {
  font-weight: inherit;
  color: #660000; }
.reveal section .background-text {
  position: absolute;
  display: block;
  font-size: 20em !important;
  line-height: .66em;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  vertical-align: bottom;
  opacity: .1; }
.reveal section .title-left {
  margin-left: 0;
  width: 38%; }
.reveal section .screenshot--regions {
  position: absolute;
  max-height: none;
  max-width: none;
  height: 42em;
  top: -8em;
  left: 38%; }
.reveal section #layouts-example {
  width: 420px;
  height: 640px;
  margin: auto;
  opacity: .8; }
  .reveal section #layouts-example > svg {
    max-width: 100%;
    mix-blend-mode: multiply; }
.reveal section .circle {
  position: absolute;
  text-shadow: #fcc318 0 0 20px, #fcc318 0 0 20px, #fcc318 0 0 20px; }
.reveal section .circle-drupal {
  top: 5%;
  width: 100%;
  left: auto;
  right: auto;
  text-align: center; }
.reveal section .circle-html {
  bottom: 10%;
  left: 10%;
  width: 33%; }
.reveal section .circle-css {
  bottom: 10%;
  right: 10%;
  width: 33%; }
.reveal section .circle-arrows {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  margin: auto;
  -webkit-animation-name: spin;
  -webkit-animation-duration: 12000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 12000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 12000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  -webkit-animation-name: spin;
  animation-name: spin;
  -webkit-animation-duration: 12000ms;
  animation-duration: 12000ms;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear; }
.reveal section .theme-components {
  vertical-align: middle; }
.reveal section .theme-component {
  display: inline-block; }
.reveal section .theme-component-symbol {
  font-size: .825em; }
  .reveal section .theme-component-symbol:before {
    content: "";
    display: block; }
.reveal section .theme-component-separator {
  display: inline-block;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  vertical-align: 20px;
  font-weight: 700;
  font-size: 1.4em; }
.reveal section .block-class-list {
  margin: 0;
  padding: 0;
  vertical-align: top; }
.reveal section .block-class-item {
  display: inline-block;
  width: 24%;
  list-style: none; }
  .reveal section .block-class-item > img {
    max-height: 200px; }
.reveal section .breakpoint-list {
  margin: 0;
  padding: 0;
  vertical-align: top;
  position: absolute;
  width: 100%;
  top: 4em;
  left: 0; }
.reveal section .breakpoint-item {
  display: inline-block;
  width: 18%;
  list-style: none;
  vertical-align: top;
  margin-right: -.3em; }
  .reveal section .breakpoint-item > code {
    font-size: .5em; }
.reveal section .block-class-code {
  display: block;
  font-size: .5em; }
.reveal section .screenshot-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto; }
.reveal section .layout-wrapper {
  max-width: 90%;
  margin-left: auto;
  margin-right: auto; }
.reveal section .l--3-column > .l-primary, .reveal section #naming--3-column.visible ~ #naming--layout > .l-primary {
  width: 33.33333%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section .l--3-column > .l-secondary, .reveal section #naming--3-column.visible ~ #naming--layout > .l-secondary {
  width: 33.33333%;
  float: left;
  margin-left: 33.33333%;
  margin-right: -100%; }
.reveal section .l--3-column > .l-tertiary, .reveal section #naming--3-column.visible ~ #naming--layout > .l-tertiary {
  width: 33.33333%;
  float: left;
  margin-left: 66.66667%;
  margin-right: -100%; }
.reveal section .l--sidebars-after > .l-primary, .reveal section #naming--sidebars-after.visible ~ #naming--layout > .l-primary {
  width: 50%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section .l--sidebars-after > .l-secondary, .reveal section #naming--sidebars-after.visible ~ #naming--layout > .l-secondary {
  width: 25%;
  float: left;
  margin-left: 50%;
  margin-right: -100%; }
.reveal section .l--sidebars-after > .l-tertiary, .reveal section #naming--sidebars-after.visible ~ #naming--layout > .l-tertiary {
  width: 25%;
  float: left;
  margin-left: 75%;
  margin-right: -100%; }
.reveal section .l--sidebars-before > .l-primary, .reveal section #naming--sidebars-before.visible ~ #naming--layout > .l-primary {
  width: 50%;
  float: left;
  margin-left: 50%;
  margin-right: -100%; }
.reveal section .l--sidebars-before > .l-secondary, .reveal section #naming--sidebars-before.visible ~ #naming--layout > .l-secondary {
  width: 25%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section .l--sidebars-before > .l-tertiary, .reveal section #naming--sidebars-before.visible ~ #naming--layout > .l-tertiary {
  width: 25%;
  float: left;
  margin-left: 25%;
  margin-right: -100%; }
.reveal section .l--triptych > .l-primary, .reveal section #naming--triptych.visible ~ #naming--layout > .l-primary {
  width: 50%;
  float: left;
  margin-left: 25%;
  margin-right: -100%; }
.reveal section .l--triptych > .l-secondary, .reveal section #naming--triptych.visible ~ #naming--layout > .l-secondary {
  width: 25%;
  float: left;
  margin-left: 0;
  margin-right: -100%; }
.reveal section .l--triptych > .l-tertiary, .reveal section #naming--triptych.visible ~ #naming--layout > .l-tertiary {
  width: 25%;
  float: left;
  margin-left: 75%;
  margin-right: -100%; }
.reveal section #naming--layout {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto; }
  .reveal section #naming--layout:after {
    content: " ";
    display: block;
    clear: both; }
  .reveal section #naming--layout > .l-primary,
  .reveal section #naming--layout > .l-secondary,
  .reveal section #naming--layout > .l-tertiary {
    width: 100%;
    margin-right: -100%; }
.reveal section #naming--3-column.visible ~ #naming--layout:before {
  content: ".l--3-column"; }
.reveal section #naming--sidebars-after.visible ~ #naming--layout:before {
  content: ".l--sidebars-after"; }
.reveal section #naming--sidebars-before.visible ~ #naming--layout:before {
  content: ".l--sidebars-before"; }
.reveal section #naming--triptych.visible ~ #naming--layout:before {
  content: ".l--triptych"; }
.reveal section .greybox {
  opacity: .8; }
  .reveal section .greybox, .reveal section .greybox p {
    font-family: 'BLOKK', sans-serif !important;
    font-size: 12px;
    line-height: 1.2em;
    text-align: left;
    word-spacing: -1.25em;
    color: #f8f8f8; }
.reveal section .greybox-container {
  padding: 1em;
  outline: 1px solid rgba(153, 153, 153, 0.3);
  background-color: rgba(248, 248, 248, 0.4); }
  .reveal section .greybox-container:hover {
    outline: 1px solid #222222; }
  .reveal section .greybox-container[data-label]:before {
    content: attr(data-label);
    font-family: "Andale Mono", monospace;
    display: block;
    margin: .5em auto 1em;
    height: 1em;
    text-align: center;
    font-size: 2rem;
    color: #2d3942; }
.reveal section .greybox-region {
  background-color: rgba(34, 34, 34, 0.3);
  min-height: 8em;
  margin-bottom: 1em;
  outline: 1px solid rgba(34, 34, 34, 0.5);
  -webkit-transition: all 1s ease;
  transition: all 1s ease; }
  .reveal section .greybox-region:nth-child(1) {
    background-color: rgba(13, 107, 156, 0.3); }
  .reveal section .greybox-region:nth-child(2) {
    background-color: rgba(204, 0, 0, 0.3); }
  .reveal section .greybox-region:nth-child(3) {
    background-color: rgba(133, 153, 0, 0.3); }
  .reveal section .greybox-region:hover {
    background-color: rgba(248, 248, 248, 0.8); }
  .reveal section .greybox-region:last-child {
    margin-bottom: 0; }
  .reveal section .greybox-region[data-label] {
    position: relative; }
  .reveal section .greybox-region:before {
    content: attr(data-label);
    font-family: "Andale Mono", monospace;
    position: absolute;
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    height: 1em;
    text-align: center;
    font-size: 1.2rem;
    color: #2d3942; }

#about .ss-twitter {
  margin-left: 50px;
  margin-right: 12px;
  font-size: 24px; }

@-ms-keyframes spin {
  from {
    -ms-transform: rotate(0deg); }

  to {
    -ms-transform: rotate(-360deg); } }
@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg); } }
@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }
